.jumbotron{
    background-image: url('./image/image_for_jumbotron.jpg');
    padding-top: 20%;
    padding-bottom: 20%;
    font-family:cursive;
    color:turquoise;
    background-color:black;
}
.header-1{
    font-family: cursive;
    color: yellowgreen;
}
body{
    background-color: black;
}
head{
    background-color: black;
}

.col-lg-6{
    color:yellow;
    font-size: large; 
    font-family: cursive;
}
.col-lg-6-2{
    color:palevioletred;
    font-size: large;
    font-family:cursive ;
}

table{
    size: 100px;
    color:cyan;
    border: 1px;
    border-color: rgb(255, 0, 0);
    width: 100%;
}
tr{
    font-size: larger;
}
.col-lg-6-3{
    background-image: url('./image/jumbopick2.jpg');
    padding-top: 30%;
    padding-bottom: 30%;
}
.col-lg-6-4{
    background-image: url('./image/jumbopick3.jpg') ;
    padding-top: 30%;
    padding-bottom: 30%;
}

